$primary:#000 ;
$secondary:#ff0000;

.navbar {
    display: flex;
     
}
.btn {
    text-align: center !important;
    display: inline-block !important;
    padding: 7px 10px !important;
    transition-duration: .6s !important;
    font-size: 1.3rem !important;
    border-radius: 3px !important;
    border: 1px solid #fff !important;
}

.btn-primary {
    background: #ff0000 !important;
    color: #fff !important;
}



