// main header
#main-header {
    background: url("../img/aleksander.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    position: relative;

}

#main-header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);

}

// navbar

.navbar {
    z-index: 5;
    width: 100%;
    height: 7vh;
    position: sticky;
    // background-color: $primary-color;


    .container-fluid {
        display: flex;
        align-items: center;
        justify-content: space-between;

    }


    .navbar-brand {
        a {
            color: $secondary-color;
            font-weight: 900;
            font-size: 1.8rem;
            padding: 1rem;
        }
    }

    .navbar-right {
        margin-right: 1rem;

        a {
            margin-left: .7rem;
        }

        .btn-login {
            border: 2px solid #fff;
            width: calc(6rem + 2px);
            height: calc((100% + 2px));
        }
    }
}

#showcase {
    height: 100vh;

    * {
        z-index: 1;
    }

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 100%;

    }

    .content-wrap {
        *:not(:last-child) {
            color: #fff;
        }

        display: flex;
        flex-direction: column;
        padding: auto;
        opacity: 1;
        letter-spacing: 1.5px;

        .section-title-wrap {
            padding-right: 20vw;
            padding-left: 20vw;

        }

        .info-wrap {
            padding-right: 8vw;
            padding-left: 8vw;

            * {
                margin-top: 1rem;
                margin-bottom: 1.4rem;
            }


        }

        .input-group {
            height: 6vh;
            padding-right: 22.5vw;
            padding-left: 22.5vw;

            input {
                color: black;
            }

            button {
                width: 30%;

                border-top-right-radius: 5px;
                border-bottom-right-radius: 5px;
                border-left: 2px solid gray;
            }
        }

    }
}

// info-boxes

.info-bg-1 {
    background: url("../img/artem.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.info-bg-2 {
    background: url("../img/junior.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.info-bg-3 {
    background: url("../img/lukas.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.info-bg-4 {
    background: url("../img/pasaric.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#info-boxes {

    .info-box {
        position: relative;
        height: 50vh;
        padding: 5rem 7rem;


        .info-box-info {
            position: sticky;

            // top: 0;
            .section-title {
                margin-bottom: 2rem;
                text-align: center;
            }

            .info-bottom {
                width: 40vw;
                margin: 3rem auto;
            }

            p {
                color: #e6e6e6;
                padding: auto;
            }
        }
    }

    .info-box::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to bottom right, #000, rgba(3, 1, 1, 0.543));
    }
}

#footer {
    background-color: #000;
    color: #fff;
    
    .container div {
        display: flex;
        height: 10vh;
        align-items: center;
        justify-content: center;
        p {
            margin: 0;
        }
    }
}


