%btn {
    display: inline-block;
    border: none;
    text-align: center;
    border-radius: 5px;
    color: #fff;
    padding: .3rem .7rem;
    font-size: 1rem;
    font-weight: 200;
    width: 6rem;
    // height: 2rem;
}

.btn-secondary {
    @extend %btn;
    background-color: $secondary-color;
    // border: 2px solid #fff;
}

.section-title {
    color: #fff;
    font-size: 3rem;
    font-weight: 800;
}

.gray-line {
    height: .7rem;
    background-color: #292826;
    width: 100%;
}

.red-line-short {
    width: 10vw;
    height: .5rem;
    background-color: $secondary-color;
    margin: 1rem auto;
}

